body{
  margin: 0;
  background-image: url("file:///C:/Users/harsh/Downloads/Red_and_blue_mix.webp");
  color: whitesmoke;
  
  }
  
  .App{
      padding: 0 9%;
      background-image: url("file:///C:/Users/harsh/Downloads/Red_and_blue_mix.webp");
  }
  
   